import subprocess
import re

def mac_change(interface):
    print("MAC Değiştirici")
    # Ağ arayüzünü kapat
    subprocess.call(["sudo", "ifconfig", interface, "down"])
    print("1. Arayüz kapatıldı")

    # Kullanıcıdan yeni MAC adresi al
    new_mac = input("Yeni MAC adresini girin (örnek: 00:11:22:33:44:55): ")
    
    subprocess.call(["sudo", "ifconfig", interface, "hw", "ether", new_mac])
    print(f"2. MAC adresi değiştirildi: {new_mac}")

    # Ağ arayüzünü aç
    subprocess.call(["sudo", "ifconfig", interface, "up"])
    print("3. Arayüz yeniden aktif")

    # Son durumu göster
    subprocess.call(["ifconfig", interface])
    print("4. İşlem tamamlandı")
def get_permanent_mac(interface):
    try:
        # ethtool ile fabrika MAC adresini al
        result = subprocess.check_output(["ethtool", "-P", interface], text=True)
        match = re.search(r"Permanent address: (\S+)", result)
        if match:
            return match.group(1)
        else:
            print("MAC adresi bulunamadı!")
            return None
    except subprocess.CalledProcessError as e:
        print(f"Hata oluştu: {e}")
        return None

def reset_mac(interface):
    # Ağ arayüzünü kapat
    subprocess.call(["sudo", "ifconfig", interface, "down"])
    print("1. Arayüz kapatıldı")

    # Eski MAC adresini getir
    permanent_mac = get_permanent_mac(interface)
    if not permanent_mac:
        print("Eski MAC adresi bulunamadı.")
        return

    # MAC adresini sıfırla
    subprocess.call(["sudo", "ifconfig", interface, "hw", "ether", permanent_mac])
    print(f"2. MAC adresi geri alındı: {permanent_mac}")

    # Ağ arayüzünü aç
    subprocess.call(["sudo", "ifconfig", interface, "up"])
    print("3. Arayüz yeniden aktif")

def main():
    print("Mac Changer Proqramina Xos geldiniz")
    print("1.Mac degistir")
    print("2.Maci Evvelki veziyyetine qaytar")
    ad = input("Secim Edin:")
    face = input("Interface Girin:")

    if ad =="2":
        
        interface = face  # Kullanmak istediğin ağ arayüz adı
        reset_mac(interface)
    elif ad == "1":
        interface = face
        mac_change(interface)

if __name__ == "__main__":
    main()
